* {
   margin: 0;
   padding: 0;
   outline: none;
}

.avatar {
   padding-right: 220px;
}

header h1 {
   padding-bottom: 15px;
}

.container {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   padding-top: 20px;
}

.content {
   padding: 30px;
   font-size: 20px;
   min-height: calc(100vh - 70px)
}

h2 {
   padding-top: 20px;
   padding-bottom: 10px;
}

ul {
   padding-left: 19px;
}

.info li {
   list-style-type: none;
}

a {
   text-decoration: none;
   color: black;
}

a:hover {
   text-decoration: underline;
}

a:visited {
   color: none;
}

.ex {
   border: dashed 1px #634F36;
   background: #c2c1c1;
   font-family: "Courier New", Courier, monospace;
   padding: 7px;
   font-size: 80%;
   margin: 0 0 1em;
}

footer {
   display: flex;
   align-items: center;
   border-top: 1px solid gray;
   background-color: lavender;
   height: 70px;
}

footer p {
   padding-left: 15px;
}

nav a {
   padding-left: 40px;
}
